Tervetuloa kamut!

In [1]:
import pandas as pd

#Arff muuttaminen käytettävään muotoon 
#Source: https://stackoverflow.com/questions/62653514/open-an-arff-file-with-scipy-io/66939746#66939746 

data = []
with open('./kidney/chronic_kidney_disease_full.arff', "r") as f:
    for line in f:
        line = line.replace('\n', '')
        data.append(line.split(','))


names = ['age', 'bp', 'sg', 'al', 'su', 'rbc', 'pc', 'pcc', 'ba',
         'bgr', 'bu',  'sc', 'sod', 'pot', 'hemo', 'pcv', 'wbcc',
         'rbcc', 'htn', 'dm', 'cad', 'appet', 'pe', 'ane',
         'class', 'no_name']
    
df = pd.DataFrame(data[145:], columns=names)

In [2]:
df.describe()

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,wbcc,rbcc,htn,dm,cad,appet,pe,ane,class,no_name
count,402,400,400,400,400,400,400,400,400,400,...,400,400,400,400,400,400,400,400,400,3
unique,78,11,6,7,7,3,3,3,3,147,...,93,50,3,7,4,4,4,3,4,2
top,60,80,1.020,0,0,normal,normal,notpresent,notpresent,?,...,?,?,no,no,no,good,no,no,ckd,
freq,19,116,106,199,290,201,259,354,374,44,...,105,130,251,257,362,316,322,339,248,2

In [3]:
#Dropataan ei halutut kolumnit tarpeettomuuden vuoksi
df = df.drop(columns=[
    'no_name', 'rbc', 'pc', 'pcc', 'ba',
    'sc', 'htn', 'dm', 'cad', 'appet', 'pe', 'ane'
])
df

,age,bp,sg,al,su,bgr,bu,sod,pot,hemo,pcv,wbcc,rbcc,class
0,48,80,1.020,1,0,121,36,?,?,15.4,44,7800,5.2,ckd
1,7,50,1.020,4,0,?,18,?,?,11.3,38,6000,?,ckd
2,62,80,1.010,2,3,423,53,?,?,9.6,31,7500,?,ckd
3,48,70,1.005,4,0,117,56,111,2.5,11.2,32,6700,3.9,ckd
4,51,80,1.010,2,0,106,26,?,?,11.6,35,7300,4.6,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397,12,80,1.020,0,0,100,26,137,4.4,15.8,49,6600,5.4,notckd
398,17,60,1.025,0,0,114,50,135,4.9,14.2,51,7200,5.9,notckd
399,58,80,1.025,0,0,131,18,141,3.5,15.8,53,6800,6.1,notckd
400,,None,None,None,None,None,None,None,None,None,None,None,None,None
401,,None,None,None,None,None,None,None,None,None,None,None,None,None

In [4]:
df.dtypes
#TODO: Tyypitä jokainen kolumni kuntoon

age      object
bp       object
sg       object
al       object
su       object
bgr      object
bu       object
sod      object
pot      object
hemo     object
pcv      object
wbcc     object
rbcc     object
class    object
dtype: object

In [5]:
#'?' and 'None' to 'Not a number'
df = df.replace(['?', 'None'], pd.NA)
df

,age,bp,sg,al,su,bgr,bu,sod,pot,hemo,pcv,wbcc,rbcc,class
0,48,80,1.020,1,0,121,36,<NA>,<NA>,15.4,44,7800,5.2,ckd
1,7,50,1.020,4,0,<NA>,18,<NA>,<NA>,11.3,38,6000,<NA>,ckd
2,62,80,1.010,2,3,423,53,<NA>,<NA>,9.6,31,7500,<NA>,ckd
3,48,70,1.005,4,0,117,56,111,2.5,11.2,32,6700,3.9,ckd
4,51,80,1.010,2,0,106,26,<NA>,<NA>,11.6,35,7300,4.6,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397,12,80,1.020,0,0,100,26,137,4.4,15.8,49,6600,5.4,notckd
398,17,60,1.025,0,0,114,50,135,4.9,14.2,51,7200,5.9,notckd
399,58,80,1.025,0,0,131,18,141,3.5,15.8,53,6800,6.1,notckd
400,,None,None,None,None,None,None,None,None,None,None,None,None,None
401,,None,None,None,None,None,None,None,None,None,None,None,None,None

In [7]:
#Tiputa rivit jossa >=3 NaN
df = df.dropna(thresh=len(df.columns)-2)
df

    age  bp     sg al su  bgr  bu   sod   pot  hemo pcv  wbcc  rbcc   class
0    48  80  1.020  1  0  121  36  <NA>  <NA>  15.4  44  7800   5.2     ckd
3    48  70  1.005  4  0  117  56   111   2.5  11.2  32  6700   3.9     ckd
4    51  80  1.010  2  0  106  26  <NA>  <NA>  11.6  35  7300   4.6     ckd
5    60  90  1.015  3  0   74  25   142   3.2  12.2  39  7800   4.4     ckd
6    68  70  1.010  0  0  100  54   104   4.0  12.4  36  <NA>  <NA>     ckd
..   ..  ..    ... .. ..  ...  ..   ...   ...   ...  ..   ...   ...     ...
395  55  80  1.020  0  0  140  49   150   4.9  15.7  47  6700   4.9  notckd
396  42  70  1.025  0  0   75  31   141   3.5  16.5  54  7800   6.2  notckd
397  12  80  1.020  0  0  100  26   137   4.4  15.8  49  6600   5.4  notckd
398  17  60  1.025  0  0  114  50   135   4.9  14.2  51  7200   5.9  notckd
399  58  80  1.025  0  0  131  18   141   3.5  15.8  53  6800   6.1  notckd

[266 rows x 14 columns]